* {
    padding:0px;
    margin:0px;
}

body { 
    background-color: black;
    color: wheat;
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}